<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<!-- <meta charset="UTF-8"> -->
	<title>Homicides From (One Date)-(Other Date)</title>
	<style>
		body{
			background-color: #FDF6E3;
		}

		#chart{
			max-width: 2500px;
			height: 100%;
			background: url('https://pbs.twimg.com/profile_images/791277870966538240/zYmTiv6r_400x400.jpg');
			background-attachment: fixed;
			background-size: contain;
			background-position: center;
		}
	</style>
	<link rel="stylesheet" href="{% static "style.css" %}"/>
			
</head>

{% autoescape off %}
<body>
	<div class="container">
		<h2>Visualization of Gun Homicides</h2>
		<div id="chart">
		</div>
	</div>
	

<script src="http://d3js.org/d3.v4.min.js"></script>
{% block rectangles %}
<script>
	var retrieveDate = d3.timeParse("%Y-%m-%d");
	var myStyles = [];
	var x_plot, max_count;
	var state_by_state = {{state_by_state}};
	var dates = {{dates}}
		.map(function(d) {return retrieveDate(d)})
			.sort(function compare(a,b) {return b-a});
  
	for(i=0; i <= state_by_state.length - 1; i++){
		myStyles 
			.push({'state': state_by_state[i].state,
				 'width': 20,
				 'height': parseInt(state_by_state[i].killed__sum) * 10,
				 'color': '#fff',
				})
	};
	
	myStyles.sort(function (a,b){ return a.height-b.height; });	

	
/*     *****************MY TOOLS********************	                 */
	var colors = d3.scaleLinear()
		.domain([0, myStyles[myStyles.length - 1].height * 10])
		.range(['#ffcccc', '#720404'])
	
	var yScale = d3.scaleLinear()
		.domain([0, myStyles[myStyles.length-1].height]) 
		.range([0, myStyles[myStyles.length-1].height])
		
	var tooltip = d3.select('body').append('div')
                .style('position', 'absolute')
                .style('padding', '0 10px')
                .style('background', 'white')
                .style('opacity', 0)
		
		.style("max-width", "200px")
		.style("line-height", "170%");

/* ************************************************************ */

/* *************** GRAPHS *********************** */

	d3.select("#chart")
		.append("svg")
			.attr('width', window.innerWidth + 500)
			.attr('height', 785)
			.style('background-color', '#C9D7D6')
			.style('margin', "0 auto")
			.selectAll('rect')
			.data(myStyles)
			.enter().append('rect')
			
			.attr('y', function(d) {
				return 780 - yScale(d.height) - 200;})
			.attr('x', function(d, i) {
				return i !== 0 ? i * (d.width + 30) : 0; })
			.attr('fill', function(d){
				return colors(yScale(d.height));})
			.attr('width', function(d) {
				return d.width;})
			.attr('height', function(d) {
				return yScale(d.height);})
			
			.on('mouseover', function(d) {
				d3.select(this)
                		.style('opacity', .5)
				tooltip.transition(10).style('opacity', .9)

        			tooltip.html((d.height / 10).toString() + "  lives lost from " + dates[dates.length-1].toDateString() + " to " + dates[0].toDateString())
				.style("max-width", "220px")
				.style("line-height", "160%")


                		.style('left', (d3.event.pageX) + 'px')
                		.style('top', (d3.event.pageY) + 'px')

                		.style('fill', 'yellow')

        		})
	
        		.on('mouseout', function(d) {
        			d3.select(this)
                		.style('opacity', 1)
                		.style('fill', colors(yScale(d.height)))
        		});

/* ********************************************************************** */			
/* ************************ TEXT **************************** */

	d3.select("#chart").selectAll("div")
		.data(myStyles)
		.enter()
		.append("div")
		.text(function(d,i) {console.log(d.state); console.log(i); return d.state;})
	
                .style("position", "absolute")
		.style("left", function(d, i) {
			return (i !== 0 ? i * (d.width + 30) : 0).toString() + "px"; })
		.style("top", function(d) {
			return (785 - 55).toString() + "px";})
		.style("height", "20px")
		.style("font-size", "20px")
		.style("-webkit-transform", function(d) {
			return "rotate(45deg)"; })
		.style("width", "180px");

</script>
{% endblock rectangles %}

</body>
{% endautoescape %}
</html>	
